<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <title>Take Quiz</title>
</head>
<body>
  <div><%= quizData.title %></div>
  <div><%= quizData.description %></div>
  <form action="/quizzes/<%=quizData.quiz_id%>/attempts" method="POST">
  <% for (const question of quizData.questions) { %>
        <div><%= question.question %></div>
    <%    for (const answer of question.answers) { %>
        <input type="radio" name="<%=question.question_id%>" value="<%= answer.answer_id%>">
        <label for=""><%=answer.answer_value%></label>
        <% } %>
        <br>
  <% } %>
  <button>Submit</button>
  </form>
</body>
</html>
