<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/homepage.js"></script>
  </head>

  <body class="user-account-page">
    <h1>My Account</h1>
    <p>Hello <b><%= user.name %></b> from your account page you can view your account information, edit your account details and delete your account.</p>
    <div class="info-section">

      <div class="user-info">
        <table>
          <thead>
            <th><h2>User Info</h2></th>
          </thead>
          <tbody>
            <tr>
              <td><b>Name</b></td> <td><%= user.name %></td>
            </tr>
            <tr>
              <td><b>Email</b></td> <td><%= user.email %></td>
            </tr>
            <tr>
              <td><b>Password</b></td> <td><%= user.password %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="user-info-buttons">
        <h2>Account Management</h1>
          <form method="POST" action="/users/<%= user.id %>/delete?_method=DELETE">
            <button type="submit">DELETE</button>
          </form>
          <form method="GET" action="/users/<%= user.id %>/edit">
            <button type="submit">EDIT</button>
          </form>
          <form method="POST" action="/users/logout">
            <button type="submit">LOGOUT</button>
          </form>
      </div>


    </div>
  </body>
</html>
