<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/homepage.js"></script>
  </head>

  <body>
    <% if (quizzes.length > 0) { %>
    <h1>Hello <%= quizzes[0].creator %> to your quizzes page!</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Thumbnail</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Stats</th>
            <th scope="col">Manage Quiz</th>
          </tr>
        </thead>
        <tbody>
            <% for(let quiz of quizzes) { %>
            <tr class="quiz-row">
              <td> <img src=<%= quiz.photo_url %> width="100" height="100"> </td>
              <td><%= quiz.title %></td>
              <td><%= quiz.description %></td>
              <td>
                <div>Attempted Count: <%= quiz.total_attempts %></div>
                <div>Average Score: <%= quiz.average_score %></div>
              </td>
              <td>
                <div class="quiz-manage-buttons">

                  <!-- Manage Quiz butttons (visibility, edit, delete, share) -->
                  <!-- Visibility function and route to be implemented a-->
                  <form method="GET" action="/users/">
                    <button type="submit">Public</button>
                  </form>
                  <!-- for now the share button will redirect to the ind quiz page -->
                  <!-- should get a copy of the quiz url -->
                  <form method="GET" action="../quizzes/<%= quiz.id %>/edit">
                    <button type="submit">Share</button>
                  </form>
                  <!-- redirect to edit page -->
                  <form method="GET" action="/users/:user_id/quizzes/:quiz_id/edit">
                    <button type="submit">Edit</button>
                  </form>
                  <!-- delete quiz from quizzes db -->
                  <form method="DELETE" action="/users/:user_id/quizzes/:quiz_id/delete">
                    <button type="submit">Delete</button>
                  </form>

                </div>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
    <% }  else { %>
      <h1>Hello to your quizzes page!</h1>
      <p>You dont have any quizzes!</p>
    <% } %>

    </body>
    </html>
