<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account Page</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/homepage.js"></script>
  </head>

  <body class="user-account-page">
    <h1>My Account</h1>
    <p>Hello <b><%= user.name %></b> from your account page you can view your account information, edit your account details and delete your account.</p>
    <div class="info-section">

      <div class="user-info">
        <table>
          <thead>
            <th><h3>User Info</h3></th>
          </thead>
          <tbody>
            <tr>
              <td><b>Name</b></td> <td><%= user.name %></td>
            </tr>
            <tr>
              <td><b>Email</b></td> <td><%= user.email %></td>
            </tr>
            <tr>
              <td><b>Password</b></td> <td><%= user.password %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="user-info-buttons">
        <h3>Account Management</h3>
          <form method="POST" action="/users/<%= user.id %>/delete?_method=DELETE">
            <button type="button" class="btn btn-outline-danger">DELETE</button>
          </form>
          <form method="GET" action="/users/<%= user.id %>/edit">
            <button type="button" class="btn btn-outline-info">EDIT</button>
          </form>
          <form method="POST" action="/users/logout">
            <button type="button" class="btn btn-outline-dark">LOGOUT</button>
          </form>
      </div>
    </div>

    <!-- Boostrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
