<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Quizzes</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/homepage.js"></script>
  </head>

  <body class="all-quizzes">
    <% if (quizzes.length > 0) { %>
    <h1>My Quizzes</h1>
      <table>
        <thead>
          <tr>
            <th scope="col" width="15%"></th>
            <th scope="col" width="55%">Quiz</th>
            <!-- <th scope="col">Description</th> -->
            <th scope="col" width="15%">Stats</th>
            <th scope="col" width="15%">Manage Quiz</th>
          </tr>
        </thead>
        <tbody>
            <% for(let quiz of quizzes) { %>
            <tr class="quiz-row">
              <td width="15%"> <img src=<%= quiz.photo_url %> width="100" height="100"> </td>
              <td width="55%">
                <div class="quiz-row-title">
                  <h3><%= quiz.title %> </h3> <p class="quiz-desc"><%= quiz.description %></p>
                </div>
              </td>
              <!-- <td><%= quiz.description %></td> -->
              <td width="15%">
                <div class="quiz-stats">Quiz Count: <%= quiz.total_attempts %></div>
                <div class="quiz-stats">AVG Score: <%= quiz.average_score %></div>
              </td>
              <td width="15%">
                <div class="quiz-manage-buttons">

                  <!-- Manage Quiz butttons (visibility, edit, delete, share) -->
                  <!-- Visibility function and route to be implemented a-->
                  <form method="GET" action="/users/<%= user_id %>/quizzes/<%= quiz.id %>">
                    <button type="submit">View</button>
                  </form>
                  <!-- for now the share button will redirect to the ind quiz page -->
                  <!-- should get a copy of the quiz url -->
                  <form method="GET" action="../quizzes/<%= quiz.id %>">
                    <button type="submit">Share</button>
                  </form>
                  <!-- redirect to edit page -->
                  <form method="GET" action="/users/<%= user_id %>/quizzes/<%= quiz.id %>/edit">
                    <button type="submit">Edit</button>
                  </form>
                  <!-- delete quiz from quizzes db -->
                  <form method="POST" action="/users/<%= user_id %>/quizzes/<%= quiz.id %>/delete?_method=DELETE">
                    <button type="submit">Delete</button>
                  </form>

                </div>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
    <% }  else { %>
      <h1>Hello to your quizzes page!</h1>
      <p>You dont have any quizzes!</p>
      <form method="GET" action="/">
        <button type="submit">Go to Homepage</button>
      </form>
    <% } %>

    </body>
    </html>
